*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: '';
}

html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.main{
    width: 700px;
    height: 260px;
    display: flex;
    background-color: rgb(246, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-shadow: 10px 10px 5px #262627;
    
}
.left{
   width: 250px;
    height: 260px;
}
.left img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.right{
    width: 450px;
    height: 250px;
    /* display: flex; */
}
h2{
    margin-top: 5%;
    margin-left: 7%;
    font-size: 27px;
    color: rgb(4, 4, 4);
    margin: 30px;
}
p{
    /* margin-left: -80%; */
    /* margin-top: 28%; */
    /* margin-right: 7%; */
    margin: -15px 30px;
    font-size: 14px;
    color: darkgray;
}
.last{
    display: flex;
    margin: 30px;
}
.last img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.name{
    margin-left: 20px;
    margin-top: 5px;
}
.name h4{
    /* margin-top: 5px; */
    /* margin-right: 10px; */
    font-size: 15px;
    font-weight: 700;
}
.name h5{
    margin-top: 3px;
    /* font-size: 12px; */
    /* color: darkgray; */
}
.last i{
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
    font-size: 25px;
    color: #586982;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #eef2f9;
}
@media(max-width: 768px){
    .main{
        width: 320px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .left{
        width: 320px;
        height: 200px;
    }
    .right{
        width: 320px;
        height: auto;
    }
    .right h2{
        font-size: 20px;
        font-weight: 600;
        
    }
}
